.badge {
    background-color: tomato;
    width: 22px;
    height: 22px;
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 700;
    z-index: 1;
    font-size: 16px;
}

/* nav bar 채팅아이콘 1 */
