.play-screen__cover img {
    height: 300px;
    width: 300px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: var(--img-shadow);
    margin-bottom: 10px;
    box-sizing: border-box;
}
.play-screen__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}
.play-screen__title span:first-child {
    font-size: 40px;
    font-weight: 600;
    color: var(--darkgray);
}
.play-screen__title span:last-child {
    font-size: 20px;
    color: var(--darkgray);
    opacity: 0.5;
}

.play-screen__btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-bottom: 20px;
}

.play-screen__btns button {
    border: none;
    width: fit-content;
    height: 40px;
    border-radius: 20px;
    padding: 0 16px;
    /* box-shadow: 0px 3px 3px 1px rgba(170, 171, 211, 0.3); */
    box-shadow: rgba(170, 171, 211, 0.4) 0px 2px 8px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    background: var(--darkgray);
    color: var(--main-white);
    gap: 8px;
}
.play-screen__btns button span {
    font-size: 16px;
}

.play-screen__btns button:first-child span {
    border-right: 1px solid rgba(248, 250, 255, 0.3);
    padding-right: 8px;
}

.play-screen__bar {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 10px;
}
.play-screen__bar__time {
    display: flex;
    justify-content: space-between;
}
.play-screen__bar__time span {
    font-size: 14px;
    color: var(--darkgray);
    opacity: 0.5;
}
.play-screen__bar__progr {
    display: flex;
    align-items: center;
    position: relative;
}
.bar__progr__total-time {
    background: rgba(30, 32, 59, 0.2);
    width: 100%;
    height: 5px;
    border-radius: 2px;
    position: absolute;
}
.bar__progr__runtime {
    background: var(--darkgray);
    width: 63%;
    height: 5px;
    border-radius: 2px;
    position: absolute;
}
.bar__progr__dot {
    background: var(--darkgray);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    right: 37%;
}
.play-screen__player {
    position: relative;
    display: flex;
    width: 90%;
    height: 120px;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}
.play-screen__player__main-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 70%;
}
.play-screen__player__main-btn button {
    border: none;
    background: white;
    font-size: 32px;
    width: 33%;
}
.play-screen__player__main-btn button:nth-child(2) {
    display: flex;
    align-items: center;
    padding-left: 10px;
    justify-content: space-evenly;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background: var(--darkgray);
    color: var(--main-white);
    box-shadow: 0px 0px 3px 3px rgba(170, 171, 211, 0.5);
    z-index: 1;
}
.play-screen__player__main-btn button:nth-child(2):active {
    box-shadow: none;
}
.play-screen__player__sub-btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 95%;
}
.play-screen__player__sub-btn button {
    font-size: 32px;
    border: none;
    background: white;
    color: var(--darkgray);
    opacity: 0.6;
}
