<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="css/styles.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music - Kokoa Clone</title>
  </head>
  <body>
    <div class="status-bar">
      <div class="status-bar__column">
        <span>No Service</span>
        <i class="fas fa-wifi"></i>
      </div>
      <div class="status-bar__column">
        <span>18:43</span>
      </div>
      <div class="status-bar__column">
        <span>110%</span>
        <i class="fas fa-battery-full fa-lg"></i>
        <i class="fas fa-bolt"></i>
      </div>
    </div>
    <header class="alt-header">
      <div class="alt-header__column">
        <a href="more.html">
          <i class="fas fa-angle-left fa-lg"></i>
        </a>
      </div>
      <div class="alt-header__column"></div>
      <div class="alt-header__column">
        <span><i class="fa-solid fa-magnifying-glass fa-lg"></i></span>
      </div>
    </header>

    <main class="play-list music">
      <div class="play-list__header">
        <img src="https://avatars.githubusercontent.com/u/97269267?v=4" />
        <div class="play-list__header__title">
          <span>artist</span>
          <span>genre</span>
        </div>
      </div>
      <div class="play-list__btns">
        <button>Shuffle</button>
        <button><i class="fa-solid fa-heart fa-lg"></i> 212,971</button>
      </div>
      <div class="play-list__list">
        <div class="play-list__list__song">
          <div class="play-list__list__song__info">
            <img
              src="https://images.unsplash.com/photo-1659355110966-42fe631ffb9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"
            />
            <div>
              <span>artist</span>
              <span>title</span>
            </div>
          </div>
          <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
        </div>
        <div class="play-list__list__song">
          <a href="music-play.html">
            <div class="play-list__list__song__info">
              <img
                src="https://images.unsplash.com/photo-1659440113076-3a50993fa64e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=945&q=80"
              />
              <i class="fa-solid fa-chart-simple"></i>
              <div>
                <span>little tiger</span>
                <span>roar</span>
              </div>
            </div>
          </a>
          <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
        </div>
        <div class="play-list__list__song">
          <div class="play-list__list__song__info">
            <img
              src="https://images.unsplash.com/photo-1517868674985-0525518ae392?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            />
            <div>
              <span>artist</span>
              <span>title</span>
            </div>
          </div>
          <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
        </div>
        <div class="play-list__list__song">
          <div class="play-list__list__song__info">
            <img
              src="https://images.unsplash.com/photo-1525498128493-380d1990a112?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80"
            />
            <div>
              <span>artist</span>
              <span>title</span>
            </div>
          </div>
          <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
        </div>
        <div class="play-list__list__song">
          <div class="play-list__list__song__info">
            <img
              src="https://images.unsplash.com/photo-1659293627801-a08eb04d80f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80"
            />
            <div>
              <span>artist</span>
              <span>title</span>
            </div>
          </div>
          <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
        </div>
        <div class="play-list__list__song">
          <div class="play-list__list__song__info">
            <img
              src="https://images.unsplash.com/photo-1659355110966-42fe631ffb9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"
            />
            <div>
              <span>artist</span>
              <span>title</span>
            </div>
          </div>
          <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
        </div>
        <div class="play-list__list__song">
          <div class="play-list__list__song__info">
            <img
              src="https://images.unsplash.com/photo-1517868674985-0525518ae392?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
            />
            <div>
              <span>artist</span>
              <span>title</span>
            </div>
          </div>
          <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
        </div>
        <div class="play-list__list__song">
          <div class="play-list__list__song__info">
            <img
              src="https://images.unsplash.com/photo-1525498128493-380d1990a112?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80"
            />
            <div>
              <span>artist</span>
              <span>title</span>
            </div>
          </div>
          <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
        </div>
        <div class="play-list__list__song">
          <div class="play-list__list__song__info">
            <img
              src="https://images.unsplash.com/photo-1659293627801-a08eb04d80f4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80"
            />
            <div>
              <span>artist</span>
              <span>title</span>
            </div>
          </div>
          <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
        </div>
        <div class="play-list__list__song">
          <div class="play-list__list__song__info">
            <img
              src="https://images.unsplash.com/photo-1659355110966-42fe631ffb9a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80"
            />
            <div>
              <span>artist</span>
              <span>title</span>
            </div>
          </div>
          <div><i class="fa-solid fa-ellipsis-vertical"></i></div>
        </div>
      </div>
      <div class="play-list__player">
        <div class="play-list__player__title">
          <span>artist</span>
          <span>title</span>
        </div>
        <div class="play-list__player__btns">
          <button><i class="fa-solid fa-backward-step"></i></button>
          <button><i class="fa-solid fa-pause"></i></button>
          <button><i class="fa-solid fa-forward-step"></i></button>
        </div>
      </div>
    </main>

    <div id="no-mobile">
      <span>Your screen is too big 😥</span>
    </div>

    <script
      src="https://kit.fontawesome.com/3c2ce20317.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
