.weather {
    display: grid;
    grid-template-columns: 120px minmax(100px, auto) 60px;
    grid-template-rows: repeat(3, 25px);
    padding: 10px var(--horizontal-space);
    border-top: 8px solid #eeeeee;
}

.weather__column {
    display: flex;
    align-items: center;
    font-size: 13px;
}

.weather__column:first-child {
    grid-column: 1/4;
}

.weather__column:nth-child(2) {
    grid-row: 2/4;
    width: fit-content;
    font-size: 35px;
    font-weight: 400;
    gap: 5px;
}

.weather__column:nth-child(3) {
    grid-row: 2/3;
    padding-left: 10px;
}

.weather__column:nth-child(4) {
    grid-column: 2/3;
    grid-row: 3/4;
    padding-left: 10px;
}
.weather__column:nth-child(4) > span {
    color: #2196f3;
    margin-left: 2px;
}

.weather__column:last-child {
    grid-row: 2/4;
    align-self: center;
    justify-self: center;
    height: fit-content;
    padding: 6px;
    border: var(--main-border);
    border-radius: 50%;
    font-size: 18px;
    opacity: 0.8;
}
