/* @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;700&display=swap");

@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/icon-row.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";
@import "components/search-bar.css";
@import "components/keyword.css";

/* Screens */
@import "screens/login.css";
@import "screens/friends.css";
@import "screens/open-chat.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/music-list.css";
@import "screens/music-play.css";

body {
    font-family: "Noto Sans", sans-serif;
    color: #2e363e;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}
.main-screen {
    padding: 20px var(--horizontal-space) 60px;
}
.music {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
    padding: var(--horizontal-space);
    box-sizing: border-box;
}
